.bloghead {
  background-color: black;
  text-align: center;
  padding: 2rem;
}

*{
    margin: 0;
    padding: 0;
}
.content {
  text-align: center;
  background-origin: shadow 2%;
  background-color: whitesmoke;
  box-shadow: 1px 1px 10px;
  padding: 1rem;
}
.content:hover {
  background-color: snow;
}
.bigcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: 1rem;
  max-width: 1200px;
  margin: 1rem auto;
}
button {
  border: none;
  padding: 0.5rem 2rem;
  background-color: skyblue;
  border-radius: 2rem;
}
.nav{
    color: white;
    display: flex;
    margin: 2rem auto;
    max-width: fit-content;
}
.nav p{
    margin: 0 1.5rem;
    background:skyblue;
    padding: .5rem 2rem;
    border-radius: 1rem;

}
a{
  text-decoration: none;
}
