.background-color{
    background-color:black;
    color:white;
    height:250px;
    width: 100%;
}
.aligndata{
    display: flex;
}

.aligndata h2{
    padding-left: 500px;
    padding-top: 60px;
}
.aligndata h1{
    padding-left: 150px;
    padding-top: 25px;
    font-size:50px;
}
.aligndata h3{
    padding-left: 40px;
    position: relative;
    left:300px;
    top:20px;  
}
.background-colorfooter{
    background-color: black;
    width: 100%;
    height: 150px;
}

input[type=text], input[type=password] {
  width: 40%;
  padding: 12px 40px;
  margin: 8px 0;
  display: flex;
  border: 1px solid #000;
  background-color: #DBD7D7;
  border-radius: 10px;

}

button {
  background-color: #2FBFC8;
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
  border-radius: 10px;
  
}
.aligndata2 h2{
    text-align: center;
}
.container2{
    margin-left: 400px;
    background-color: var(--bg-overlay-color);
}
.aligndata a{
    text-decoration: none;
    color: white;
}
.homeback{
    background-color: #2FBFC8;
    width: 80%;
    height: 50%;
    padding-top: 2px;
    border-radius: 10px;

}
h3:hover{
    color: yellow;
   }
